<section class="gallery">
    <div class="container">
        <div class="row pb-3">
            <div class="row h-100">
                <div class="d-flex align-items-center">
                    <div>
                        <h1 class="title m-0">{{'REVIEWS.HEADER' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="position-relative">
            <div id="prev-slide" class="slider-control">
                <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
            </div>
            <div id="next-slide" class="slider-control">
                <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
            </div>
            <div class="slider">
                <img src="../../../../assets/images/carousel/1.jpg" alt="">
                <img src="../../../../assets/images/carousel/2.jpg" alt="">
                <img src="../../../../assets/images/carousel/3.jpg" alt="">
                <img src="../../../../assets/images/carousel/4.jpg" alt="">
                <img src="../../../../assets/images/carousel/5.jpg" alt="">
                <img src="../../../../assets/images/carousel/6.jpg" alt="">
                <img src="../../../../assets/images/carousel/7.jpg" alt="">
            </div>
        </div>
    </div>
</section>