<!-- <section class="reviews">
    <div class="container">
        <div class="row pb-3">
            <div class="row h-100">
                <div class="d-flex align-items-center">
                    <div>
                        <h1 class="title m-0">{{'REVIEWS.HEADER' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row h-100">
                <div class="col-md-4 col-12 pb-3 d-flex flex-column align-items-center">
                    <div class="review-box">
                        ONE
                    </div>
                    <div class="review-box">
                        ONE
                    </div>
                </div>
                <div class="col-md-4 col-12 pb-3 d-flex flex-column align-items-center">
                    <div class="review-box">
                        ONE
                    </div>
                    <div class="review-box">
                        ONE
                    </div>
                </div>
                <div class="col-md-4 col-12 pb-3 d-flex flex-column align-items-center">
                    <div class="review-box">
                        ONE
                    </div>
                    <div class="review-box">
                        ONE
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> -->

<section class="reviews">
    <div class="container">
        <div class="row pb-3">
            <div class="row h-100">
                <div class="d-flex align-items-center">
                    <div>
                        <h1 class="title m-0">{{'REVIEWS.HEADER' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="row h-100">
                <div class="review-column col-lg-4 d-flex flex-column">
                    <div class="review">
                        <h6 class="review-text pb-3">I am really happy with my new eyebrows! Very professional and
                            friendly. You
                            can see that Monika puts her heart into it and truly likes it - thanks to this she has such
                            a brilliant results of her work. I can highly recommend this person!</h6>
                        <div class="signature">
                            <h6 class="text m-0">Aneta K.</h6>
                        </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">I would highly recommend this lovely lady and her professional work
                            👌 This
                            is the first time when I have done my new eyebrows and I do not regret it. I feel more
                            confident and prettier. Monika is amazing, her hands are golden and the final result is
                            worth it.
                            I appreciate her time to answer properly all my questions about aftercare.
                            Would recommend Montana PhiBrows and definitely come back to her 😊
                            Thank you 💕</h6>
                        <div class="signature">
                            <h6 class="text m-0">Lucia Kopaszova</h6>
                        </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">I had my eyebrows done 2 weeks ago and I am very very happy with the
                            result. I was nervous about microblading as I have not had any experience in this area.
                            After looking at examples of Monika's work, I decided to go ahead.
                            Immediately I felt at ease and could tell that Monika is passionate about what she does.
                            Every step of the way I was confident that the best job was being done and the result has
                            been a very natural looking eyebrow. I would highly recommend this service, and I will be
                            returning for any future top ups that are required.</h6>
                            <div class="signature">
                                <h6 class="text m-0">Georgina Newton</h6>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex flex-column">
                    <div class="review">
                        <h6 class="review-text pb-3">I have waited for a few days to give a genuine and honest review! Monika is
                            an amazing, fun and very competent with her job lady! She is very professional as well as
                            easy to talk to; who will listen to you but also will give you suggestions to what's best
                            for you and makes it happen! It's been 9 days since I have had microblading done by her and
                            every single day I'm falling in love with them more and more :-) on day 7 they fully healed
                            and looked fabulous 😍 not only that I have had such a lovely time talking to Monika for 3h
                            I have also walked out with fabulous pair of eyebrows. Her salon is extremely clean, cosy
                            and relaxing:music in the backgroud and Yankee candle. I can't recommend Monika enough with
                            how great she is! Do not hesitate a minute with your decision making in regards to having
                            your eyebrows done by Monika Kossek!!!! 😍😍😍😍❤️❤️ Thank you once more 😘😘😘😘</h6>
                            <div class="signature">
                                <h6 class="text m-0">Joanna Frydrychowicz</h6>
                            </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">Monika is absolutely great, very talented and so professional! She did an
                            amazing job with my eyebrows, the shape is great, colour is the best fit and they look so
                            natural. I highly recommend her to everyone!!!</h6>
                            <div class="signature">
                                <h6 class="text m-0">Ceren Arikan</h6>
                            </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">I have visited Monika twice now, she is very warm friendly and
                            professional, She came highly recommended and I wouldn’t hesitate to recommend her to
                            others! Shes brilliant at what she does & I love my new brows!</h6>
                            <div class="signature">
                                <h6 class="text m-0">Vicky A.</h6>
                            </div>
                    </div>
                </div>
                <div class="col-lg-4 d-flex flex-column">
                    <div class="review">
                        <h6 class="review-text pb-3">Monika is a real microblading professional with kind and warm personality.
                            She has done an amazing work transforming the look of my eyebrows. Cant thank you enough!!!
                            Highly recommended</h6>
                            <div class="signature">
                                <h6 class="text m-0">Agnieszka Dmitruczak</h6>
                            </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">I have waited 6 weeks to allow my brows to heal before leaving this review,
                            and I can honestly say that Monika deserves the 5 star review. I have partial alopecia
                            making one brows much sprarser than the other, and Monika did an incredible job making them
                            symmetrical again, and creating a really natural result.</h6>
                            <div class="signature">
                                <h6 class="text m-0">Susan Mary</h6>
                            </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">I highly recommend Ms. Monika and her services. She is accurate and very
                            professional.She know how care of the client, the atmosphere that funds can calm down and
                            relax. Ms. Monika also knows how to choose services to the customer's needs.Thank you very
                            much for the service and I hope to see you again.</h6>
                            <div class="signature">
                                <h6 class="text m-0">Marlenka M.</h6>
                            </div>
                    </div>
                    <div class="review">
                        <h6 class="review-text pb-3">I truly recommend Montana PhiBrows.
                            It's has been done by lovely, professional lady.
                            Whole process been explained in detail, after care and what to expect day by day.
                            I'm very happy customer and with full confidence I can say it's brilliant and my
                            expectations are meet. Thank you!</h6>
                            <div class="signature">
                                <h6 class="text m-0">Justyna Gasparowicz</h6>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- <section class="reviews">
    <div class="container">
        <div class="row pb-3">
            <div class="row h-100">
                <div class="d-flex align-items-center">
                    <div>
                        <h1 class="title m-0">{{'REVIEWS.HEADER' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            </div>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <div class="d-flex flex-column align-items-center">
                    <div class="review">
                        <span>Review One</span>
                    </div>
                    <div class="review">
                        <span>Review Two</span>
                    </div>
                    <div class="review">
                        <span>Review Three</span>
                    </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="d-flex flex-column align-items-center">
                    <p>Item Two</p>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
    </div>
</section> -->