<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            LOGO
            <!-- wpierdolić tu logo -->
        </a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav4</a>
            </li>
        </ul>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'COMMON.SELECT_LANGUAGE' | translate}}
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#" (click)="languageSelected('en')">English</a></li>
                <li><a class="dropdown-item" href="#" (click)="languageSelected('de')">Deutsch</a></li>
            </ul>
        </div>
    </div>
</nav>