<nav class="navbar">
    <div class="container">
        <a class="navbar-brand" href="#">
            LOGO
            <!-- wpierdolić tu logo -->
        </a>
        <ul class="navbar-nav ms-auto">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav1</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav2</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav3</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="#">Nav4</a>
            </li>
        </ul>
        <div class="dropdown">
            <div class="dropdown-toggle" id="dropdownLanguage" data-bs-toggle="dropdown" aria-expanded="false">
                {{ 'COMMON.LANGUAGE' | translate}}
            </div>
            <ul class="dropdown-menu" *ngFor="let language of availableLanguages" aria-labelledby="dropdownLanguage">
                <li>
                    <a class="dropdown-item" href="#" (click)="languageSelected(language.value)">{{language.value}}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>