<!-- <div class="container">
    <div class="row">
        <div class="logo">
            <img class="logo" src="../../../../assets/images/MontanaLogo.png" alt="">
        </div>
        <div class="header">
            <h1>{{ 'CONTACT.HEADER' | translate}}</h1>
        </div>
    </div>
    <div class="row">
        <div class="image">
            <img class="main-image" src="../../../../assets/images/creamingAsianWoman.PNG" alt="">
        </div>
        <div class="contact">
            <p>Telephone</p>
            <p>Email</p>
            <p>Social Media</p>
        </div>
    </div>
</div> -->

<div class="container top">
    <div class="row">
        <div class="child col-md d-none d-md-block">
            <span class="logo">
                Logo
            </span>
        </div>
        <div class="child col-md">
            <span class="header">
                {{ 'CONTACT.HEADER' | translate}}
            </span>
        </div>
    </div>
</div>
<div class="container bottom">
    <div class="row">
        <div class="col-md">
            Photo
        </div>
        <div class="contact col-md">
            <span>Telephone :</span>
            <span>Email: </span>
            <span>Social Media:</span>
        </div>
    </div>
</div>