@import '../../../../assets/styles/global';

$bg: $colourA;

.contact {
    background-color: $bg;

    .logo,
    .photo {
        width: 80%;
    }

    .photo {
        border-radius: 5%;
    }

    .title {
    text-align: right;
    }
}