<section class="story">
    <div class="container">
        <div class="col-12">
            <div class="row pb-3">
                <div class="d-flex align-items-center">
                    <div>
                        <h1 class="title m-0">{{'STORY.HEADER' | translate}}</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <div class="row h-100 pb-3">
                <div class="col-lg-6 col-12 d-flex flex-column">
                    <div class="row">
                        <h4 class="text m-0 pb-4">{{"STORY.MESSAGE_1" | translate}}</h4>
                        <h5 class="text m-0 pb-3">{{"STORY.MESSAGE_2" | translate}}</h5>
                        <h5 class="text m-0 pb-3">{{"STORY.MESSAGE_3" | translate}}</h5>
                        <h5 class="text m-0 pb-3">{{"STORY.MESSAGE_4" | translate}}</h5>
                        <h5 class="text m-0 pb-3">{{"STORY.MESSAGE_5" | translate}}</h5>
                        <h5 class="text m-0 pb-3">{{"STORY.MESSAGE_6" | translate}}</h5>
                    </div>
                </div>
                <div class="hero col-lg-6 col-12 d-flex justify-content-end pb-3"></div>
            </div>
        </div>
    </div>
</section>