<section class="welcome">
    <div class="container">
        <div class="welcome-left">
            <div class="logo">
                <img src="../../../../assets/images/MontanaLogo.png" alt="">
            </div>
            
            <div class="text">
                            <h1>A UNIQUE<br>APPROACH<br>TO SKIN CARE</h1>
            <p>Science-based skin care that's tailored to you</p>
            </div>

        </div>
        <div class="welcome-right">
            <img src="../../../../assets/images/smilingAsianWoman.PNG"  alt="">
        </div>

    </div>
</section>