@import '../../../../assets/styles/global';

.welcome {
    background-color: $colourA;
    padding: 2rem 0;
    margin-top: 4rem;

    .logo,
    .photo {
        width: 100%;
    }

    .photo {
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }
}