<section class="welcome">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="row h-100">
                    <div class="col-lg-6 col-md-8 col-4 pb-3 d-flex align-items-center">
                        <img class="logo" src="../../../../assets/images/MontanaLogo.png" alt="">
                    </div>
                    <div class="col-md-12 col-8">
                        <div class="col pb-3">
                            <h1 class="title m-0">A UNIQUE<br>APPROACH<br>TO SKIN CARE</h1>
                        </div>
                        <div class="col">
                            <h3 class="text m-0">Science-based skin care that's tailored to you</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12 d-flex align-items-center">
                <img class="photo pt-3 pt-md-0" src="../../../../assets/images/smilingAsianWoman.PNG" alt="">
            </div>
        </div>
    </div>
</section>

<!-- PLASTER przenieś to do czegoś w stylu gallery component  -->

<section class="gallery">
    <div class="container">
        <div class="slider">
            <div id="prev-slide" class="slider-control d-none d-lg-flex">
                <fa-icon [icon]="['fas', 'arrow-left']"></fa-icon>
            </div>
            <div id="next-slide" class="slider-control d-none d-lg-flex">
                <fa-icon [icon]="['fas', 'arrow-right']"></fa-icon>
            </div>
            <div class="images">
                <img src="../../../../assets/images/carousel/1.jpg" alt="">
                <img src="../../../../assets/images/carousel/2.jpg" alt="">
                <img src="../../../../assets/images/carousel/3.jpg" alt="">
                <img src="../../../../assets/images/carousel/4.jpg" alt="">
                <img src="../../../../assets/images/carousel/5.jpg" alt="">
                <img src="../../../../assets/images/carousel/6.jpg" alt="">
                <img src="../../../../assets/images/carousel/7.jpg" alt="">
            </div>
        </div>
        <div class="slider-scroll">
            <div class="track">
                <div class="thumb">

                </div>
            </div>
        </div>
    </div>
</section>