<div class="container">
    <div class="signature">
        <span>{{ 'FOOTER.SIGNATURE' | translate}}</span>
    </div>
    <div class="social-media">
        <ul>
            <li>
                <span>
                    <a href="https://www.instagram.com/montanaphibrows/" target="_blank" title="Visit my Instagram profile!">
                        <fa-icon [icon]="['fab', 'instagram']" size="2x"></fa-icon>
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="https://www.facebook.com/montanaphibrows" target="_blank" title="Visit my Facebook page!">
                        <fa-icon [icon]="['fab', 'facebook']" size="2x"></fa-icon>
                    </a>
                </span>
            </li>
            <li>
                <span>
                    <a href="https://maps.app.goo.gl/62QbbnRBgbya1AHb6" target="_blank" title="Visit my Google page!">
                        <fa-icon [icon]="['fab', 'google']" size="2x"></fa-icon>
                    </a>
                </span>
            </li>
        </ul>
    </div>
</div>