@import "./global";
@import "../../../node_modules/bootstrap/scss/bootstrap";

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: $colourA;
    font-family: $fontNormal;

    ::-webkit-scrollbar {
        width: 20px;
    }
}
